*{
    background-color: lightgray;
}

.container {
    width: 80%;
    margin: auto;
}

.box-1 {
    background-color: rgb(90, 87, 87);
    color: #FFFFFF;
    border: 5px black solid;
    padding: 20px;
    margin: 20px 0;
}

.box-1 h1{
    background-color: transparent;
    font-family: Tahoma;
    font-weight: 500px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.box-1 p{
    background-color: transparent;
}

.box-2 {
        border: 7px;
        padding: 60px;
        margin: 0;
}

.categories {
    border: 1px #000 solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h1{
    font-size: 20px;
    text-transform: uppercase;
}

.categories h1 {
    text-align: center;
}

.categories ul {
    padding: 0;
    list-style: none;
}
.categories li{
    display: inline;
    padding: 6px;
    border-bottom: dotted 1px #333;
}

.block{
    float: left;
    width: 33.3%;
}



